@page "/clientes/agregar"
@using LorenzoApplication.Servicios

@inject IClientesServicio _clientesServicio
@inject NavigationManager _navigationManager

<PageTitle>Agregar Clientes</PageTitle>

<h3>Agregar Cliente</h3>

<br />

@if (Mensaje != "")
{
    <div class="alert alert-danger" role="alert">
        @Mensaje
    </div>
}
<div class="mb-3 row">
    <input class="form-control" type="text" placeholder="Nombre" aria-label="default input example" @bind-value="cliente.Nombre">
</div>


<div class="mb-3 row">
    <input class="form-control" type="text" placeholder="Dirección" aria-label="default input example" @bind-value="cliente.Direcc">
</div>


<div class="mb-3 row">
    <input class="form-control" type="number" placeholder="Código Postal" @bind-value="cliente.Codpos">
</div>

<div class="mb-3 row">
    <input class="form-control" type="text" placeholder="Localidad" aria-label="default input example" @bind-value="cliente.Locali">
</div>

<div class="mb-3 row">
    <input class="form-control" type="number" placeholder="Teléfono" aria-label="default input example" @bind-value="cliente.Telefo">
</div>

<div class="mb-3 row">
    <input class="form-control" type="text" placeholder="Tipo de IVA" aria-label="default input example" @bind-value="cliente.TIPIVA">
</div>

<div class="mb-3 row">
    <input class="form-control" type="number" placeholder="CUIT" aria-label="default input example" @bind-value="cliente.CUIT">
</div>





<button class="btn btn-primary" @onclick="Aceptar">Aceptar</button>
<button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>

    

@code {
    private Cliente cliente { get; set; } = new Cliente();
    private string Mensaje { get; set; } = "";


    private async Task Cancelar()
    {
        await Task.Delay(1);
        _navigationManager.NavigateTo("/clientes/index");
    }

    private async Task Aceptar()
    {
        Mensaje = "";

        if (string.IsNullOrEmpty(cliente.Nombre))
        {
            Mensaje += "No seas pelotudo, pone un nombre.";
        }
        if (Mensaje != "") return;

        await _clientesServicio.Agregar(cliente);
        _navigationManager.NavigateTo("/clientes/index");
    }
}