@page "/clientes/eliminar/{Codigo}"
@using LorenzoApplication.Servicios
@inject NavigationManager _navigationManager
@inject IClientesServicio _clientesServicio

<h3>Eliminar Articulo</h3>

@if (Mensaje != "")
{
    <div class="alert alert-danger" role="alert">
        @Mensaje
    </div>
}

@if (cliente == null)
{
    {
        <div class="alert alert-warning" role="alert">
            Cargando...
        </div>
    }
}

else
{
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" @bind-value="@cliente.Codigo">
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" @bind-value="@cliente.Nombre">
        </div>
    </div>

    <button class="btn btn-success" @onclick="Aceptar">Aceptar</button>
    <button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
}


@code {
    [Parameter]
    public string codigo { get; set; } = "";

    private Cliente cliente { get; set; }
    private string Mensaje { get; set; } = "";

    protected override async Task OnParametersSetAsync()
    {
        cliente = await _clientesServicio.Leer(codigo) ?? new Cliente();
    }


    private async Task Cancelar()
    {
        await Task.Delay(1);
        _navigationManager.NavigateTo("/clientes/index");

    }

    private async Task Aceptar()
    {
        Mensaje = "";
        if (Mensaje != "") return;

        await _clientesServicio.Eliminar(cliente.Codigo);
        _navigationManager.NavigateTo("/clientes/index");
    }

}