@page "/articulos/index"

@inject IArticulosServicio _articulosServicio;
@inject NavigationManager _navigationManager

<h1>Articulos</h1>

<br/>

<button class="btn btn-primary" @onclick="Agregar">Agregar</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Descripción</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in listaArticulos)
        {
            <tr>
                <td scope="row">@a.Codigo</td>
                <td>@a.Descri</td>
                <td><a href="/articulos/eliminar/@a.Codigo">Eliminar</a></td>
                <td><a href="/articulos/modificar/@a.Codigo">Modificar</a></td>
            </tr>
        }
    </tbody>
</table>
@code {

    private List<Articulo> listaArticulos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        listaArticulos = await _articulosServicio.Listar();
    }
    private async Task Agregar()
    {
        await Task.Delay(1);
        _navigationManager.NavigateTo("/articulos/agregar");
    }
}
