@page "/"

<PageTitle>Index</PageTitle>

<h1>
    Base de datos para Lorenzo.
</h1>

Nuestro programa FINALMENTE FUNCIONAL Y CON UNA INTERFAZ DECENTE. (Aplausos enlatados)

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://st.depositphotos.com/1049691/2348/i/450/depositphotos_23480847-stock-photo-raw-beef.jpg" alt="">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
